---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- endif -%}
      {% if page.tags %}
         • <span class="tags"> <!-- span不会换行是inline，div会是block -->
          {% for tag in page.tags %}
            <a href="/tags/{{ tag }}/">{{ tag }}</a>
          {% endfor %}
        </span>
      {% endif %}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {% include navlinks.html %}
  </div>

  <div class="share-links">
    {% include sharelinks.html %}
  </div>

  <!-- comment部分，设置需要到commentio上面改 -->
  <script defer src="https://cdn.commento.io/js/commento.js"></script>
  <div id="commento"></div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
